.container{
    min-width: 400px;
    height:600px;
    margin: 0 auto;
}
.container1{
    min-width: 400px;
    height:2000px;
    margin: 0 auto;
    background-color: black;
}
#plot4{
    height:700px
}